
        *{
            padding: 0;
            margin: 0;
        }
        body{
            font-family: 'Manrope', sans-serif;
            
        }
        :root{
            --primary-color : green;
        }
        #input-feild{
            width: 50%;
        }
        #phone {
            display: flex;
            justify-content: center;
        }
        .single-phone {
            width: 530px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            border-radius: 10px;
            padding: 25px 28px;
            margin-bottom: 20px;
        }
        .img-div{
            text-align: center;
        }
        #phone img {
            width: 200px;
        }
        #phone h5 {
            font-size: 25px;
            margin: 11px 0;
            font-weight: 900;
            color: var(--primary-color);
            
        }
        #phone p {
            margin-bottom: 7px;
            color: rgb(78, 78, 78);
            font-size: 14px;
        }
        #mainfeatures , #others {
            color: rgb(78, 78, 78);
            font-size: 13px;
        }
        #mainfeatures li{}
        #sensor{}
        #sensor li{}
        #others {
            color: rgb(78, 78, 78);
            font-size: 13px;
        }
        #others li{}
        #others{}
        #others li{}












        #phones{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
        }
        .phones-div {
            box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px, rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
            margin: 10px;
            border-radius: 10px;
            padding: 17px 25px;
            cursor: pointer;
            width: 325px;
        }
        .phones-div div {
            text-align: center;
        }
        #phones img {
            width: 100px;
            margin-bottom: 10px;
        }
        
        #phones h4 {
            font-size: 24px;
            color: var(--primary-color);
            font-weight: 600;
        }
        #phones h5 {
            font-weight: 600;
            color: gray;
            font-size: 18px;
        }
        #phones p {
            color: rgb(78, 78, 78);
            margin-bottom: 0;
        }
        #phones button {
            border: none;
            outline: none;
            padding: 7px 12px;
            border-radius: 5px;
            color: white;
            background: var(--primary-color);
            font-size: 14px;
            font-weight: 700;
            margin-top: 10px;
        }
        #loading{
            display: none;
            font-size: 50px;
            text-align: center;
        }
        .available-data {
            font-size: 15px;
            text-align: center;
            margin: 10px 0;
            color: gray;
        }

        .lds-dual-ring {
            display: inline-block;
            width: 80px;
            height: 80px;
            }
            .lds-dual-ring:after {
            content: " ";
            display: block;
            width: 64px;
            height: 64px;
            margin: 8px;
            border-radius: 50%;
            border: 6px solid var(--primary-color);
            border-color: var(--primary-color) transparent var(--primary-color) transparent;
            animation: lds-dual-ring 1.2s linear infinite;
            }
            @keyframes lds-dual-ring {
            0% {
                transform: rotate(0deg);
            }
            100% {
                transform: rotate(360deg);
            }
            }

            @media (max-width : 600px) {
                #input-feild {
                    width: 60%;
                    height: 33px;
                    font-size: 14px;
                }
                #search-btn {
                    padding: 4px 6px;
                    font-size: 14px;
                }
                .available-data {
                    font-size: 12px;
                }
                #phones {
                    grid-template-columns: repeat(1, 1fr);
                }
                #phones h5 {
                    font-size: 18px;
                }
                #phones h4 {
                    font-size: 21px;
                }
                #phones p {
                    font-size: 14px;
                }
                #phone div {
                    width: 89%;
                }
                #phone img {
                    width: 125px;
                }
                #phone h3 {
                    font-size: 25px;
                }
                #phones div {
                    width: 255px;
                }
                #phone p {
                    margin-bottom: 4px;
                    font-size: 14px;
                }
                #phones {
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: center;
                }
                .lds-dual-ring {
                width: 60px;
                height: 60px;
                }
                .lds-dual-ring:after {
                    content: " ";
                    width: 48px;
                    height: 48px;
                    margin: 6px;
                    border-radius: 50%;
                    border: 5px solid var(--primary-color);
                    border-color: var(--primary-color) transparent var(--primary-color) transparent;
                    animation: lds-dual-ring 1.2s linear infinite;
                    }
            }
                
            
  